/* Here's our Jumbotron style */

.jumbotron {
    margin-bottom: 0px;
    background-image: url(Indian-University-Bloomington.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
 }














/* Here's the style for our buttons */

#button1  {
                    background: #eb94d0;background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
                     background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
                     background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
                     background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
                     background-image: linear-gradient(to bottom, #eb94d0, #2079b0);-webkit-border-radius: 28;
                     -moz-border-radius: 28;
                     border-radius: 16px;
                    text-shadow: 3px 2px 1px #9daef5;
                     -webkit-box-shadow: 6px 5px 24px #666666;
                     -moz-box-shadow: 6px 5px 24px #666666;
                     box-shadow: 6px 5px 24px #666666;
                    font-family: Arial;
                     color: #fafafa;
                     font-size: 16px;
                     padding: 11px;
                     width: 100px;
                     
}

#button2  {
    background: #eb94d0;background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
     background-image: linear-gradient(to bottom, #eb94d0, #2079b0);-webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 16px;
    text-shadow: 3px 2px 1px #9daef5;
     -webkit-box-shadow: 6px 5px 24px #666666;
     -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
     color: #fafafa;
     font-size: 16px;
     padding: 11px;
     width: 100px;
     
}

#button3  {
    background: #eb94d0;background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
     background-image: linear-gradient(to bottom, #eb94d0, #2079b0);-webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 16px;
    text-shadow: 3px 2px 1px #9daef5;
     -webkit-box-shadow: 6px 5px 24px #666666;
     -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
     color: #fafafa;
     font-size: 16px;
     padding: 11px;
     width: 100px;
     
}

#button4  {
    background: #eb94d0;background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
     background-image: linear-gradient(to bottom, #eb94d0, #2079b0);-webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 16px;
    text-shadow: 3px 2px 1px #9daef5;
     -webkit-box-shadow: 6px 5px 24px #666666;
     -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
     color: #fafafa;
     font-size: 16px;
     padding: 11px;
     width: 100px;
     
}

#button5  {
    background: #eb94d0;background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
     background-image: linear-gradient(to bottom, #eb94d0, #2079b0);-webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 16px;
    text-shadow: 3px 2px 1px #9daef5;
     -webkit-box-shadow: 6px 5px 24px #666666;
     -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
     color: #fafafa;
     font-size: 16px;
     padding: 11px;
     width: 100px;
     
}

#button6  {
    background: #eb94d0;background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
     background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
     background-image: linear-gradient(to bottom, #eb94d0, #2079b0);-webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 16px;
    text-shadow: 3px 2px 1px #9daef5;
     -webkit-box-shadow: 6px 5px 24px #666666;
     -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
     color: #fafafa;
     font-size: 16px;
     padding: 11px;
     width: 100px;
     
}


body{
    background-color: bisque






}
