<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>College Data Viz</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage plugin by Alvaro Trigo. Create fullscreen pages fast and simple. One page scroll like iPhone website." />
	<meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" href="../static/css/examples.css"/>
	<link rel="stylesheet" href="../static/css/jquery.fullPage.css"/>

	<style>
		/* Sections
		 * --------------------------------------- */
		#section0 img,
		#section1 img{
			margin: 20px 0 0 0;
		}
		#section2 img{
			margin: 20px 0 0 52px;
		}
		#section3 img{
			bottom: 0px;
			position: absolute;
			margin-left: -420px;
		}
		.intro p{
			width: 50%;
			margin: 0 auto;
			font-size: 1.5em;
		}
		.twitter-share-button{
			position: absolute;
			z-index: 99;
			right: 149px;
			top: 9px;
		}
	</style>
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/app.js"></script>

	<script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="../static/js/examples.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['whitesmoke', 'whitesmoke', 'whitesmoke', 'whitesmoke', 'whitesmoke'],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
				menu: '#menu',
                scrollingSpeed: 1000,
                verticalCentered: true
			});
		});
	</script>

</head>
<body>

<ul id="menu">
	<li data-menuanchor="firstPage"><a href="#firstPage">Home Page</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Academics</a></li>
	<li data-menuanchor="3rdPage"><a href="#3rdPage">Tuition & Spending</a></li>
	<li data-menuanchor="4thpage"><a href="#4thpage">Demographics</a></li>
	<li data-menuanchor="lastPage"><a href="#lastPage">Cost & Earnings</a></li>
</ul>

<div id="school-selected">
	<p id = "school-text">School Selected: Erie Community College</p>
</div>


<div id="fullpage">
	<div class="section " id="section0">
		<h1>College Data Viz Project</h1>
		 <input type="hidden" name="id" value="1" />
        <p>The Unable Larks</p>
		<br><br><br>
		<div class="front-page-text">
        <h3>Start by selecting your school: </h3>
		<select id = "selDataset" onchange="optionChanged(this.value)"></select>
		</div>
	</div>
	<div class="section" id="section1">
			<div class="intro">
				<br>
				<h1>Academic Programs</h1>
                <div class="pie" id = "pie"></div>
			</div>
	</div>
	<div class="section" id="section2">
        <div class="slide">
            <div class="intro">
                <h1>Tuition & Spending</h1>
                <div id = "bar"></div>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
					<h1>Reference Table</h1>
					<p>Schools Ranked Ascending by (Tuition - Spending)</p>
                    <table id = "spendRank"></table>
            </div> 
        </div>
	</div>
	<div class="section" id="section3">
		<div class="slide">
			<div class="intro">
				<br><br>
				<h1>Demographics by Ethnicity</h1>
				<div id = "pie1"></div>
			</div>
		</div>
		<div class="slide">
				<div class="intro">
					<br><br>
					<h1>Demographics by Gender</h1>
					<div id = "pie2"></div>
				</div>
			</div>
	</div>
	<div class="section" id="section4">
		<div class="slide">
			<div class="intro">
				<h1>Cost & Earnings</h1>
				<div id = "scatter"></div>
			</div>
		</div>
		<div class="slide">
				<div class="intro">
					<h1>Cost & Earnings</h1>
					<p>Schools Ranked Descending by Post-Grad Earnings per Dollar (Cost)</p>
					<table id = "costRank"></table>
				</div>
		</div>
	</div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
<script src="../static/js/app.js"></script>
<script src="../static/js/examples.js"></script>
<script src="../static/js/jquery.fullPage.js"></script>
</body>
</html>