<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>University Data</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="jquery.fullPage.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
        <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>

    <div id="fullpage">
        <div class="section">
            <div class = "container">
                <div class = "jumbotron text-center">
                    <h2> Unable Larks Project 2</h2>
                </div>
            </div>
 
    <br>


    <div class = "container">
        <div class = "row">
            <div class = "col-md-2">
                <br>
                <br>
                <br>
                <div class = "btn-group-vertical" role = "group" aria-label="dropdown">
                    <button type = "button" onclick = "init()" id = "academics" class = "btn btn-default">Academics</button>
                    <button type = "button" onclick = "demographicsShow()" id = "demographics" class = "btn btn-default">Demographics</button>
                    <button type = "button" id = "cost/repayment" class = "btn btn-default">Cost and Repayment</button>
                    <button type = "button" id = "Spending" class = "btn btn-default">Spending and Tuition</button>
                </div>
            </div>
        </div>


    <h2>School</h2>
    <select id = "selDataset" onchange="optionChanged(this.value)"></select>
    </div>


        
    <div id = "pie"></div>
    </div>

    <div class="section">
    <table id = "spendRank">
        <!-- <th>Top 100 Schools based on Tuition and amount Spent on Students</th> -->
    </table>


    <div id = "bar"></div>
    </div>

    <div class="section">
    <div id = "pie1"></div>
    </div>

    <div class="section">
    <table id = "costRank">
        <!-- <th>Top 100 Schools based on Cost and Earnings</th> -->
    </table>
        

    <div id = "scatter"></div>
    </div>

    <div class="section">
    <div id = "pie2"></div>
    </div>
    </div>
  
    <script>

// $(document).ready(function(){
//   $("#myInput").on("keyup", function() {
//     var value = $(this).val().toLowerCase();
//     $(".dropdown-menu li").filter(function() {
//       $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
//     });
//   });
// });

    
    
    
    
    </script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript" src="http://expansionscollective.com/testscripts/jquery.fullPage.js"></script>
    <script> $(document).ready(function() {
            $('#fullpage').fullpage({
                //Navigation
                menu: '#menu',
                lockAnchors: false,
                anchors:['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'fifthPage', 'sixthPage', 'seventhPage'],
                navigation: false,
                navigationPosition: 'right',
                navigationTooltips: ['firstSlide', 'secondSlide'],
                showActiveTooltip: false,
                slidesNavigation: false,
                slidesNavPosition: 'bottom',
        
                //Scrolling
                css3: true,
                scrollingSpeed: 700,
                autoScrolling: true,
                fitToSection: true,
                fitToSectionDelay: 1000,
                scrollBar: false,
                easing: 'easeInOutCubic',
                easingcss3: 'ease',
                loopBottom: false,
                loopTop: false,
                loopHorizontal: true,
                continuousVertical: false,
                continuousHorizontal: false,
                scrollHorizontally: false,
                interlockedSlides: false,
                dragAndMove: false,
                offsetSections: false,
                resetSliders: false,
                fadingEffect: false,
                normalScrollElements: '#element1, .element2',
                scrollOverflow: false,
                scrollOverflowReset: false,
                scrollOverflowOptions: null,
                touchSensitivity: 15,
                normalScrollElementTouchThreshold: 5,
                bigSectionsDestination: null,
        
                //Accessibility
                keyboardScrolling: true,
                animateAnchor: true,
                recordHistory: true,
        
                //Design
                controlArrows: true,
                verticalCentered: true,
                sectionsColor : ['#ccc', '#fff'],
                paddingTop: '3em',
                paddingBottom: '10px',
                fixedElements: '#header, .footer',
                responsiveWidth: 0,
                responsiveHeight: 0,
                responsiveSlides: false,
                parallax: false,
                parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},
        
                //Custom selectors
                sectionSelector: '.section',
                slideSelector: '.slide',
        
                lazyLoading: true,
        
                //events
                onLeave: function(index, nextIndex, direction){},
                afterLoad: function(anchorLink, index){},
                afterRender: function(){},
                afterResize: function(){},
                afterResponsive: function(isResponsive){},
                afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
                onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
            });
        });</script>


</body>

</html>